 @font-face{
     font-family: myfont;
     src: url(assets/fonts/static/Inter-Regular.ttf); 
} 

@font-face{
    font-family: myfont-bold;
    src: url(assets/fonts/static/Inter-Bold.ttf); 
} 



body{
    background-color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.main-container {
    background-color:hsl(0, 0%, 12%) ;
    height: auto;
    width: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 30px;
}

#name {
    font-family: myfont-bold;
    color: white;
    font-weight: 400;
}

#location {
    font-family: myfont;
    color: hsl(75, 94%, 57%);
    font-size: 10px;
    margin-top: -2px;
    font-weight: 600;
}

#job {
    font-family: myfont;
    color: gainsboro;
    font-size: 10px;
    font-weight: 700;
}

button {
    width: 300px;
    height: 40px;
    background-color: hsl(0, 0%, 20%);
    color: white;
    margin: 10px;
    border: none;
    border-radius: 5px;
}

#instagram {
    margin-bottom: 30px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    cursor: pointer;
}